@import url('https://fonts.googleapis.com/css?family=Inconsolata');

li {
    color: white;
}

.sky {
  background: url("/static/weather/images/background_clouds.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sun-container {
  position: relative;
}

.centered-image {
  postition: relative;
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.degree_centered {
  position: absolute;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  display: table;
  font-family: 'Inconsolata', monospace;
  font-size: 50px;
}

.location {
  height: 50px;
  width: 50px;
}

.inner {
  margin: 0 auto;
  display: table;
  
}
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Inconsolata', monospace;
  color: white;
}

.title {
  font-family: 'Inconsolata', monospace;
  font-size: 50px;
  color: white;
}

.border {
  border: 4px solid black;
}

  @-webkit-keyframes redbackground {
    0%   { background-color: #ff0000; }
    49% { background-color: #ff0000; }
    50% { background-color: #fff; }
    99% { background-color: #fff; }
    100% { background-color: #ff0000; }
  }
  @-moz-keyframes redbackground {
    0%   { background-color: #ff0000; }
    49% { background-color: #ff0000; }
    50% { background-color: #fff; }
    99% { background-color: #fff; }
    100% { background-color: #ff0000; }
  }
  @keyframes redbackground {
    0%   { background-color: #ff0000; }
    49% { background-color: #ff0000; }
    50% { background-color: #fff; }
    99% { background-color: #fff; }
    100% { background-color: #ff0000; }
  }
  .alert {
  -webkit-animation: redbackground 1s infinite;
  -moz-animation:    redbackground 1s infinite;
  animation:         redbackground 1s infinite;
}

#closeout {
  height: 30px;
  width: 30px;
}  

#alertgap {
  height: 300px;
  width: 300px;
}
    
.bigtext {
  font-weight: 400;
}

#warning {
  text-decoration: underline;
}

.comparison {
  font-size: 50px;
}

.comparisonimages {
  height: 50px;
  width: 50px;
}

p {
  font-size: 40px;
}

#comparisongap {
  height: 1300px;
  width: 400px;
}


#comparisonalertbar {
  font-size: 5px;
}
    