{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Comparison</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body class="sky">
	<!-- your comparison interface here -->
  <div class="container-fluid">
      <div class="row border">
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <h3 class="comparison">Berkeley</h3>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img src="/static/weather/images/sun_behind_clouds.png" class="comparisonimages">
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <p>62&#176F</p>
          </div>
      </div>
    </div>
  
    <div class="container-fluid">
      <div class="row border">
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <h3 class="comparison">Los Angeles</h3>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img src="/static/weather/images/sun_small.png" class="comparisonimages">
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <p>74&#176F</p>
          </div>
      </div>
    </div>
  
    <div class="container-fluid">
      <div class="row border">
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <h3 class="comparison">San Francisco</h3>
          </div>
         <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img src="/static/weather/images/clouds.png" class="comparisonimages">
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <p>60&#176F</p>
          </div>
      </div>
    </div>
  
  <div class="container-fluid" id="comparisongap"></div>
  
  <div class="container-fluid">
    <div class="row border">
      <div class="inner"><h2 class="title">12:00PM</h2></div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row border">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><img src="/static/weather/images/trendicon.ico" class="comparisonimages centered-image"></div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a href="/weather/forecast"><img src="/static/weather/images/home.png" class="comparisonimages centered-image"></a></div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><img src="/static/weather/images/plussign.png" class="comparisonimages centered-image"></div>
    </div>
  </div>
</body>
</html>
